#map {
	height: 100%;
}

#loadtext {
	color: blue;
	font-family: "Comic Sans MS";
	text-align: center;
}

.unit {
	text-align: center;
	background-color: yellow;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}